@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
}

.image-gallery-thumbnails-wrapper {
  position: absolute !important;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.image-gallery-thumbnail img {
  border-radius: 0.5rem;
  height: 3.5rem !important;
}

.image-gallery-slide .image-gallery-image {
  object-fit: cover !important;
  object-position: center;
  height: 30rem;
}